body {
  display: grid;
  grid-template-columns:230px 1fr 1fr 1fr;
  grid-template-rows: 1fr 20px 2fr 2fr 2fr 1fr;
  grid-gap: 20px;
  height: 100vh;
  margin: 10px;
  font-family: Helvetica;
  background-color: #ebebd6;  
}
h1, h2 {
    font-family: Russo One, Helvetica, Arial;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #aa0000;
 }

nav>div>a {
  font-size: 25px;
  margin: 5px;
  color: white;
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

#img {
  align-self: center;
  height: 100px;
  width: 100px;
  padding: 10px;
}

nav,
footer,
.header,.order {
  grid-column: span 4;
}

.content,
.top-products-images {
  grid-column: span 3;
}

.top-products-images {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

a {
  color: #a00;;
  text-decoration: none;
}

hr {
  height: 1px;
  background-color: lightslategray;
  border-color: lightslategray;
  border-width: 1px;
}
p{
  font-size: 18px;
}